<nb-card>
    <nb-card-header>
        <div style="display:flex;justify-content:space-between">
            <button nbButton (click)="previous()">Prev</button>
            <button nbButton (click)="next()">Next</button>
        </div>
        <nb-select [selected]="20" (selectedChange)="limitChanged($event)">
            <nb-option [value]="5">5</nb-option>
            <nb-option [value]="10">10</nb-option>
            <nb-option [value]="20">20</nb-option>
            <nb-option [value]="50">50</nb-option>
            <nb-option [value]="100">100</nb-option>
        </nb-select>
    </nb-card-header>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let item of context?.results"
                (click)="select(item.url)">
                {{item.name | titlecase}}
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>